<% if user_signed_in? %>
    | <a class=<%= votable %> id="upvote" href=<%= "/#{votable.class.name.downcase.pluralize}/#{votable.id}/vote" %>>Upvote</a>
    | <p class='downvote'>Downvote</p> |
<% end %>
