/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.view-images li{
  height: 180px;
  width: 180px;
  padding: 10px;
}

body{
  background: #202124;
}

.photo-mixer{
  font-family: 'Montserrat Subrayada', sans-serif;
}

.upload-form{
  color: #fff;
}

.header-1{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.form-text{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

input[type=file]{
  font-family: 'Montserrat', sans-serif;
}

.close, .comment{
  color: white;
}

.flash_notice {
  color: white;
  background: green;
  font-family: 'Montserrat', sans-serif;
}

.flash_alert {
  color: white;
  background: red;
  font-family: 'Montserrat', sans-serif;
}

.gray{
  color: #7E807F;
  margin-bottom: 10px;
}

.comment{
  font-family: helvetica;
}

#error_explanation{
  background: red;
  font-family: 'Montserrat', sans-serif;
}

#byline{
  color: #202124;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.panel{
  border-radius: 10px;
}

.favorite{
  background: yellow;
}

#favorite-button{
  font-size: 25px;
}

.image-byline{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  white-space: nowrap;
}

.blurb{
  height:180px;
  width: 180px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.stats{
  height: 180px;
  width: 180px;
}

.tabs{
  width: 448px;
}

.profile-row1{
  margin-bottom: 20px;
}
